@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: rgb(93, 92, 92);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.App{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35vw;
  height: 30vh;
  border: 1px solid #eee;
  padding: 1rem;
  background-color: #005490;
  color: #fff;
  text-align: center;
  border-radius: 8px;
}